export(add_numbers)
export(subtract_numbers)
export(add_multiply_numbers)
export(violet1)
export(violet2)
export(violet3)
export(violet4)
export(violet5)
export(violet6)
export(yellow1)
export(yellow2)
export(yellow3)
export(yellow4)
export(yellow5)
export(yellow6)
export(stacked_bar)
